.slide-img{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.slide-img h3{
    text-align: center;
}
.slide-img img{
    width: 95%;
    height: 40rem;
    margin: auto;
    object-fit: contain;
}