@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}
body {
  background-color: #ffffff;
}
:root {
  --primart-color: #ff4252;
  --login-color: #ff6875;
  --font-white:#fff;
}
button {
  border: none;
  cursor: pointer;
}
.head-list {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: var(--font-white);
  z-index: 1000;
}
.head-list1 > ul,
.head-list2 > ul {
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
  margin: 1rem 5rem;
}
.login-btn {
  position: relative;
}
.login-container {
  position: absolute;
  right: -2rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 12rem;
  display: none;
}
.login-container ul li {
  margin: 2rem;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
}
.login-container ul li a {
  color: inherit;
}
.login-container ul li:hover {
  cursor: pointer;
  color: var(--login-color);
  transform: scale(1.2);
  transition: all 0.5s linear;
}

.head-list2 .login-btn:hover .login-container {
  cursor: pointer;
  display: block;
}
.cart {
  position: relative;
  /* font-size: 2rem; */
}
.cart a {
  color: inherit;
}
.cart a span {
  font-size: 1.1rem;
  background-color:var(--primart-color);
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: -0.8rem;
  left: 1.5rem;
}
.login-main {
  border: 1px solid gray;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.login-main .form {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--font-white);
}
.login-main .form div {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.login-main .form div input {
  padding: 0.5rem;
}
.login-main .form div label {
  font-size: 1.5rem;
}
.login-main .form div button {
  font-size: 1.5rem;
  background-color: teal;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 1rem;
}
/* ====================================== */
header {
  background: #f6f9fc;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 32px;
  left: 0;
  right: 0;
  z-index: 900;
}
.logo {
  font-size: 3rem;
  text-decoration: underline var(--primart-color);
}
.logo span {
  color: var(--primart-color);
  font: 900;
  font-style: italic;
}
button {
  border: none;
  font-size: 3.5rem;
  background: none;
}
.mobile-menu-icon {
  display: none;
}

.Navbar-list {
  display: flex;
  gap: 3.5rem;
}
.Navbar-list > li > .navlink,
.Navbar-list > li {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  color: black;
}

.Navbar-list > li > .navlink:hover {
  color: var(--login-color);
  transform: scale(1.1);
  transition: 0.5s;
}
nav > ul > li > .navlink.active {
  color: var(--primart-color);
  font-weight: bold;
  text-decoration: none;
}
.Navbar-list .toggle_box {
  position: relative;
}
.store-container {
  background-color: #fefcf3;
  width: 30rem;
  position: absolute;
  top: 2.5rem;
  border-radius: 1rem;
  display: none;
}
.store-container .row {
  display: flex;
  padding: 2rem;
}
.store-container ul li {
  font-size: 1rem;
  color: black;
}
.store-container ul li:first-child {
  color: gray;
  font-size: 1.2rem;
}
.Navbar-list .toggle_box:hover {
  cursor: pointer;
  color: var(--login-color);
}
.Navbar-list .toggle_box:hover .store-container {
  display: block;
}
.store-container ul {
  padding: 1.5rem;
}
.search-list {
  margin: 1rem;
  display: flex;
  gap: 2rem;
}
.search-list li {
  font-size: 1.4rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  background-color: var(--login-color);
  color: var(--font-white);
}


.product-container {
  background-color: #f6f9fc;
  margin-top: 5rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  width: 24rem;
  margin: 1.5rem;
  height: 33rem;
  border: 0.1rem solid #e8eaeb;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  position: relative;
  justify-content: space-around;
  background-color: #fff;
}

.product-img {
  margin: 1rem auto;
  position: relative;
}
.product img {
  width: 22rem;
  height: 10rem;
  object-fit: contain;
}
.product-img .discount {
  position: absolute;
  background-color: #ff4858;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5rem;
}
.product-img .like-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  opacity: 0;
  transition: 0.5s;
}

.product-img .like-btn .count {
  background-color: teal;
  display: inline-block;
  color: #fff;
  width: 2.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
}
.product-img .like-btn button {
  margin-top: 1rem;
  background-color: transparent;
  font-size: 2rem;
}
.product:hover .like-btn {
  opacity: 1;
}
.product-info {
  margin: 0 1rem;
}
.product .price {
  color: #ff4858;
  font-size: 1.5rem;
}
.product .pname {
  font-size: 1.5rem;
  color: gray;
}
.product .star {
  font-size: 1.5rem;
  color: gold;
}
.add-btn {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}
.add-btn .add {
  font-size: 3rem;
  color: #ff4858;
  background-color: transparent;
  border: 0.1rem solid #e8eaeb;
  padding: 0 0.4rem;
  transition: 0.8s;
  border-radius: 1rem;
}
.add-btn .add:hover {
  background-color: #ff4858;
  color: #fff;
}

.home-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-product-container h2 {
  font-size: large;
  text-transform: uppercase;
  margin-top: 5rem;
  text-align: center;
}
.support-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.support-container > .support {
  text-align: center;
  margin: 2rem;
  width: 25rem;
  height: 20rem;
  background-color: white;
}
.support-container > .support > img {
  width: auto;
  margin: 1rem;
}
.support-container > .support > p {
  text-align: justify;
}
.news-container {
  background-color: black;
  height: 10rem;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.news-container > .news-btn {
  background-color: red;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}
/** =============== Single Product ================ */
.cart-container {
  background-color: #f6f9fc;
  padding: 4rem 0;
  height: auto;
  position: relative;
}
.main-cart {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  flex-wrap: wrap;
  gap: 2rem;
}
.single-product-container {
  width: 70rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  justify-content: center;
}
.empty-product {
  color: #ff4858;
  font-size: 2rem;
}
.single-product {
  display: flex;
  border: 0.1rem solid #e8eaeb;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  flex-wrap: wrap;
}
.single-product img {
  width: 22rem;
  height: 10rem;
  object-fit: contain;
}
.single-product .p-info {
  width: 30rem;
}

.pname {
  font-size: 1.5rem;
}
.btn {
  width: 10rem;
}
.p-info .price {
  color: #ff4858;
  font-size: 1.5rem;
  margin-top: 5rem;
}
.remove-product {
  float: right;
  font-size: 2.5rem;
}
.add-product {
  background-color: transparent;
  margin-top: 6rem;
  display: flex;
  gap: 5rem;
}
.add-product button {
  font-size: 2.5rem;
}
.add-product .increment {
  color: #ff4858;
}
.cart-total-product {
  border: 0.1rem solid #e8eaeb;
  width: 35rem;
  height: 15rem;
  background-color: #fff;
  border-radius: 1rem;
}
.cart-total-product h2 {
  color: #ff4858;
  font-size: 2.5rem;
  border-bottom: 1px solid grey;
  padding: 0.5rem 1rem;
}
.cart-total {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}
.cart-total h4 {
  font-size: 2rem;
}
.cart-total span {
  color: #ff4858;
  font-size: 2rem;
}
.place-product{
  border: 0.1rem solid #e8eaeb;
  max-width: 45rem;
  height: 15rem;
  background-color: #fff;
  border-radius: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.place-btn{
  background-color: #ff4858;
  color: #fff;
  font-size: 2rem;
  padding: .5rem 5rem;
  margin: 1rem;
  border-radius: .5rem;
}
.order-place-container{
  max-width: 50rem;
  height: 20rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-80%);
  border: 0.2rem solid #ff4858;
  border-radius: 1rem;
  transition: all .5s linear;
}
.order-place-container h2{
  font-size: 3rem;
  padding: 2rem 3rem;
}
.order-hide{
  position: absolute;
  top: -50%;
}
.order-place-container h2 span{
  color: #ff4858;
  display: block;
}
/*-------------------------------- footer-------------------- */
.footer-container {
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.footer-container .column-f1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
   box-shadow: 1px 0px 2px  rgba(0, 0, 0, 0.2);
}
.footer-container .column-f1 div {
  background-color: white;
  margin: 1rem;
  width: 25rem;
  height: 20rem;
  text-align: center;
}
.footer-container .column-f1 div > p {
  text-align: justify;
}
.footer-container .column-f1 div .icon {
  display: inline-block;
  margin: 4rem 1rem;
  font-size: 2rem;
  cursor: pointer;
}
.twitter {
  color: #1da1f2;
  margin-right: 1rem;
}
.instagram {
  color: #c13584;
  margin-right: 1rem;
}
.footer-container .column-f2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-container .column-f2 div {
  background-color: white;
  margin: 1rem;
  width: 18rem;
  height: 18rem;
  text-align: center;
}

.footer-container .column-f2 div > ul > li {
  list-style-type: none;
  text-align: left;
}
.facebook {
  color: #4267b2;
  cursor: pointer;
}
footer {
  font-size: 1.5rem;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}
/*--------------------------------- responsive screen--------------------- */
@media only screen and (max-width: 768px) {
  html {
    font-size: 52.5%;
  }
  .search-nav {
    display: none;
  }
  header .main-nav {
    position: absolute;
    top: 5rem;
    height: 100vh;
    right: 0;
    z-index: 1000;
    background-color: black;
    opacity: 0.6;
    width: 70%;
    transition: all 0.5s ease-in-out;
  }
  .Navbar-list > li > .navlink {
    color: white;
    margin-top: 1rem;
  }
  .Navbar-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .head-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu-icon:hover {
    cursor: pointer;
  }
  .close {
    position: absolute;
    left: -700px;
    transition: all 0.5s ease-in-out;
  }
}
@media only screen and (max-width: 400px) and (min-width: 250px) {
  html {
    font-size: 40%;
  }
  .footer-container > .column-f2 {
    display: none;
  }
}